################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/desafio-carrefour
/src/Core/DesafioCarrefour.Core/obj/Debug/net8.0
/src/Core/DesafioCarrefour.Core/obj
